# Logs
logs
*.log
pnpm-debug.log*

node_modules
dist
build
dist-ssr
*.local

# Editor directories and files
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# storybook
storybook-static
chromatic-diagnostics.json
chromatic.log

# npm pack
*.tgz
